---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "{{ site.theme }}";


// color: #E60900;
$link-color: #2a7ae2;

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}

body {
    font-size: 12pt;
    font-family: "PT Sans", "Helvetica Neue", Helvetica, Arial, "Microsoft YaHei", sans-serif;
    // color: #333;
    width: 820px;
    margin: 0 auto;
    -webkit-text-size-adjust:none;
}

ul, ol {
    line-height: 2.1;
}

ul{
    padding: 5px 38px;
}

ul li{
    padding: 0;
    margin: 0;
    line-height: 2.1em;
}

table {
    background-color: transparent;
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid #dddddd;
    border-left: 0;
    margin: 20px 0;
}

th, td {
    border-left: 1px solid #dddddd;
    padding: 8px;
    line-height: 20px;
    text-align: left;
    vertical-align: top;
    border-top: 1px solid #dddddd;
}

/* DL, DT, DD TAGS LIST DATA */
dl {
    clear:both;
    margin-bottom:8px;
}
dl dt {
    color:#5f9be3;
    /* float:left; */
    font-family: monospace !important;
    font-weight:bold;
    padding: 0 4px;
    /* width:50px; */
}
dl dd {
    margin-left: 25px;
}

a {
    text-decoration: none;
}

a:hover,
a:focus {
    // color: $link-color;
}

kbd {                           /* from stackoverflow */
    padding:0.1em 0.6em;
    border:1px solid #ccc;
    font-family:Arial,Helvetica,sans-serif;
    background-color:#f7f7f7;
    color:#333;
    -moz-box-shadow:0 1px 0px rgba(0, 0, 0, 0.2),0 0 0 2px #ffffff inset;
    -webkit-box-shadow:0 1px 0px rgba(0, 0, 0, 0.2),0 0 0 2px #ffffff inset;
    box-shadow:0 1px 0px rgba(0, 0, 0, 0.2),0 0 0 2px #ffffff inset;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;
    display:inline-block;
    margin:0 0.1em;
    text-shadow:0 1px 0 #fff;
    line-height:1.4;
    white-space:nowrap;
}

del {
    color: #eee;
}

add {
    color: blue;
}

/* outline */
.toc{
    background: #fafafa;
    border-radius: 5px;
    border: 1px solid #f0f0eb;
    margin: 27px 0 47px 0;
    padding: 0;
}

.toc ul{
    padding: 5px 42px;
}

.toc ul li{
    padding: 0;
    margin: 0;
    line-height: 2.1em;
}

/* footnote */
.footnote {
    font-size: small;
}

.footnote p {
    line-height: 0.5em;
}

.footnote ol {
}


/* **************************************************************** */

#footer{
    a{
        font-size: 0.8em ;
    }

    .powered_by{
        margin-bottom: 20px;
        text-align: center;
        font-size: 0.8em;
    }

    .powered_by span{
        font-size: 9px;
        padding: 0 10px;
    }
}



#header{
    position: relative;
}

#header{
    h1{
        font-size: 2em;
        color: #555;
        line-height: 3.0em;
        margin: 0.2em 0 -1em 0;
        text-transform: uppercase;
    }

    .subtitle{
        font-size: 0.6em;
        color:#666;
        letter-spacing: 1px;
    }

    h1.inline_title{
        display: inline;
    }
}


#site_description {
    margin: 0.8em 0 0 auto;
}

#nav {
    display: inline-block;
    font-size: 1.0em;
    border-bottom: solid 1px #EEE;
    border-top: solid 1px #EEE;
    line-height: 2.5em;
    width: 100%;
    margin: 35px 0 5px -10px;
    padding: 0;
}

#nav {
    li{
        list-style-type: none;
        float: left;
        margin: 0;
        padding: 0;
    }

    li:before {
        content: " / ";
        color: #ddd;
    }
    li:first-child:before {
        content: " ";
    }

    a {
        margin: 0 .5em;
        display: inline-block;
        /* font-family: "Coda","Hiragino Sans GB", "Microsoft YaHei", sans-serif; */
        text-decoration: none;
        color: $link-color;
        padding: 1px 15px;
    }

    a:hover,  a.current:hover{
        background: $link-color;
        color:#ffffff;
    }

    a.current{
        color: #000000;
        // color: $link-color;
    }

    a.current:before{
        content: 'at ';
        color: #ccc;
        font-size: 12px;
    }
}



/* ##### content #### */

#content {
    margin-top: 20px;
    margin-bottom: 30px;
}

#content {
    /* post title */
    h1.post-title {
        // background-color: #efefef;
        text-align: center;
    }

    .post-meta {
        font-size: 0.85em;
        padding-right: 5px;
        position: absolute;
        top: 22px;
        right:5px;
    }

    /* post body */
    .post-content {
        h1:before,
        h2:before,
        h3:before,
        h4:before,
        h5:before,
        h6:before {
            content: "§";
            color: #ccc;
            // font-weight: bold;
            // border: solid 1px black;
            padding: 2px;
            margin: 0 10px 0 0;
        }

        a {
            // color: #E60900;
            padding: 2px 2px;
            text-decoration: none;
        }

        a:hover {
            // background: #E60900;
            // color:#ffffff;
            text-decoration: underline;
        }
    }

    // for line number column
    .linenos, .code pre {
        margin: 0px !important;
    }

    h1 {
        font-size: 180%;
        color: #000;
        // border-bottom: 5px solid #000;
        margin-bottom: 10px;
        // text-align: center;
    }

    h2 {
        font-size: 150%;
        color: #111;
        // border-bottom: 3px solid #333;
        margin-bottom: 8px;
    }

    h3 {
        font-size: 120%;
        color: #222;
        // border-bottom: 2px solid #666;
        margin-bottom: 5px;
    }

    h4 {
        font-size: 110%;
        color: #333;
        // border-bottom: 1px solid #999;
        margin-bottom: 3px;
    }

    h5 {
        color: #444;
        // border-bottom: 1px solid #CCC;
        margin-bottom: 2px;
    }

    h6 {
        color: #555;
        // border-bottom: 1px solid #EEE;
        margin-bottom: 1px;
    }

    hr{
        margin: 1.0em 0;
        border-top: 1px dashed #e5e5e5;
    }

    img {
        max-width: 100%;
        display: block;
        margin: 1em auto 1.8em auto;
        // border: 1px solid #ddd;
        padding: 5px;
        border-radius: 5px;
    }

    .post{
        padding-bottom: 45px;
        margin-bottom: 65px;
        border-bottom: 1px solid #e8e8e8;
        position: relative;
    }

    .comments{
        margin: 85px 0 35px 0;
    }

    p{
        line-height: 1.8em;
        /* margin: 15px 0; */
        letter-spacing: 1px;
        word-wrap:break-word;
        /* overflow:hidden; */
    }

    .image{
        margin:10px 0 0 0;
        position: relative;
        min-height: 50px;
    }

    .tags{
        display: inline-block;
        line-height: 2.5em;
    }

    a.tag{
        font-size: 0.8em;
        margin-left: 7px;
        padding: 2px 4px;
        border: solid 1px #d6d6d6;
        background: #fdfdfd;
        border-radius: 4px;
    }

    .information a:hover{
        background: #f0f0f0;
    }


    .read_more{
        display: inline-block;
        padding: 10px 0;
        float: right;
    }

    .read_more a{
        color: $link-color;
        padding: 2px;
    }

    .read_more a:hover{
        color:#ffffff;
        background: $link-color;
    }

}


// OUTLINE SIDEBAR

#outline-wrapper {
    .outline-toggle {
        position: fixed;
        right: 50px;
        bottom: 45px;
        width: 15px;
        height: 15px;
        padding: 5px;
        background: #222;
        line-height: 0;
        z-index: 1050;
        cursor: pointer;
        -webkit-transform: translateZ(0);
    }

    .outline-toggle-line {
        position: relative;
        display: inline-block;
        vertical-align: top;
        height: 2px;
        width: 100%;
        background: #fff;
        margin-top: 3px;
    }

    #outline {
        display: block;
        overflow: auto;
        height: 100%;
        padding-bottom: 40px;
        width: 195px;
    }
    #outline.fixed {
        position: fixed;
        top: 20px;
    }
    #outline.fold .outline-body {
        display: none;
    }
    #outline .outline-body {
        position: relative;
        list-style: none;
        height: auto;
        overflow: hidden;
        padding-left: 0px;
        padding-right: 5px;
        text-indent: 0;
    }
    #outline .outline-body li {
        position: relative;
        list-style: none;
    }
    #outline .outline-body li a {
        padding-left: 10px;
        max-width: 180px;
        display: inline-block;
        vertical-align: middle;
        height: 30px;
        line-height: 30px;
        overflow: hidden;
        text-decoration: none;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    #outline .outline-body .h1_nav,
    #outline .outline-body .h2_nav,
    #outline .outline-body .h3_nav {
        margin-left: 0;
        font-size: 13px;
        font-weight: bold;
    }
    #outline .outline-body .h4_nav,
    #outline .outline-body .h5_nav,
    #outline .outline-body .h6_nav {
        margin-left: 10px;
        font-size: 12px;
    }
    #outline .outline-body .h4_nav a,
    #outline .outline-body .h5_nav a,
    #outline .outline-body .h6_nav a {
        max-width: 170px;
    }
    #outline .outline-body .active {
        border-radius: 4px;
        background-color: #F5F5F5;
    }
    #outline .outline-body .active a {
        color: #0085a1!important;
    }
    @media (max-width: 1200px) {
        #outline {
            display: none;
        }
    }

}
