---
layout: base
---

{% assign latest_posts = site.posts | slice: 0, 4 %}

{% for post in latest_posts %}
    <div class="post">
        <h2 class="title"><a href="{{ post.url }}#content">{{ post.title }}</a></h2>

        <div class="post_body">
          {% assign excerptsize = post.excerpt | number_of_words %}
		  {% if excerptsize <= 100 and excerptsize >= 50 %}
			<p class="lead">{{ post.excerpt | strip_html }}&hellip;</p>
          {% else %}
            <p>{{ post.content | strip_html | truncate:280 }}&hellip;</p>
          {% endif %}
        </div>

        <div class="tags">
            {% for tag in post.tags %}
                <a class="tag" href="/tag/{{ tag }}">{{ tag }}</a>
            {% endfor %}
        </div>

    </div>
{% endfor %}

    <div class="clear"></div>
