---
layout: base
---

{%- capture site_tags -%}
    {%- for tag in site.tags -%}
        {{- tag | first -}}{%- unless forloop.last -%},{%- endunless -%}
    {%- endfor -%}
{%- endcapture -%}
{%- assign tags_list = site_tags | split:',' | sort -%}

<div id="full-tags">
{%- for tag in tags_list -%}
<a href="#{{- tag -}}">
  {{- tag -}} ({{- site.tags[tag].size -}})
</a>
&nbsp;
{%- endfor -%}
</div>

<div id="full-tags-list">

  <ul class="list-with-title">
{%- for tag in tags_list -%}
    <h3 id="{{- tag -}}" class="listing-title">
        {{- tag -}} ({{-site.tags[tag].size-}})
    </h3>
    {%- for post in site.tags[tag] -%}
<li class="listing-item">
  <span class="date">
    <time datetime="{{- post.date | date_to_xmlschema -}}">
      {{- post.date | date: "%Y-%m-%d" -}}
    </time>
  </span>
  <a href="{{- post.url | prepend: site.baseurl -}}" title="{{- post.title -}}">{{- post.title -}}</a>
  {%- endfor -%}
{%- endfor -%}
  </ul>

</div>
